<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new photo request has been made by <%= @user.email %></h1>
    <h2> Their contact info: <%= @contact %> </h2>
    <h2> Their schedule: <%= @schedule %> </h2>
    
  </body>
</html>