/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
}

.art_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  align-items: start;
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-flow: row dense;
}

.art_work {
  margin: 5px;
  background-color: rgb(22, 22, 22);

  border-radius: 10px;
  padding: 5px;
  color: white;
}

.art_work a,
h3 {
  color: white;
}

.art_work:hover {
  cursor: pointer;
}

.art_img {
  max-width: 100%;
}

.photo_request {
  text-align: start;
  text-align: right;
}

.request {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
}

.request_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  align-items: start;
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-flow: row dense;
}

h2 {
  margin-top: 30px;
}
