<h1>Hello Photographer!</h1>

<h2>Photo Requests:</h2>
<% @photo_requests.each do |photo_request| %>
<p><%= photo_request.contact %></p>
<% end %>

<h2>Art Works:</h2>

<% @art_works.each do |art_work| %>
<%= link_to art_work do %>

<h3><%= art_work.title %></h1>

    <% if art_work.image.attached? %>
    <% art_work.image.each do |img| %>
    <%= image_tag(img, size: "200") %>
    <% end %>
    <% else %>
    <p>images not yet uploaded</p>
    <% end %>

    <%end%>

    <% end %>